# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# Base44
entities
functions
agents
automations